<h1>Step 1: Choose your Model and color</h1>

<form [formGroup]="stepOneForm">
  <fieldset>
    <legend>Model and color</legend>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label for="model">Model</label>
        <select id="modelSelect" formControlName="modelCode" style="width: 85%" class="doc">
          <option [ngValue]="null" disabled class="doc">Choose...</option>
          <option
            *ngFor="let carModel of carModels"
            [ngValue]="carModel.code"
            class="doc"
          >
            {{ carModel.description }}
          </option>
        </select>
      </div>
      <div
        *ngIf="selectedModelColors && selectedModelColors.length > 0"
        class="col-sm-12 col-md-6"
      >
        <label for="model">Color</label>
        <select id="colorSelect" formControlName="modelColor" style="width: 85%" class="doc">
          <option
            *ngFor="let selectedModelColor of selectedModelColors"
            [ngValue]="selectedModelColor.code"
            class="doc"
          >
            {{ selectedModelColor.description }}
          </option>
        </select>
      </div>
    </div>
  </fieldset>
</form>

<div *ngIf="stepOneForm.get('modelCode')?.value && stepOneForm.get('modelColor')?.value">
  <img
    appCarModelImg
    [carModelCode]="stepOneForm.get('modelCode')?.value"
    [carColorCode]="stepOneForm.get('modelColor')?.value"
  />
</div>
